<footer
  class="w-full hstack justify-between font-ui text-sm"
  m="x-auto t-20"
  max-w="[720px] lg:[810px]"
>
  <span text-fg-light>
    <span>© Qirang Yang 2024</span>
    <span lt-sm:hidden>· A wizard hiding in the Muggle world</span>
  </span>

  <span hstack gap-x-3>
    <a
      href="https://github.com/GiovannaYang/giovannayang.github.io"
      aria-label="Source code"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-lucide:code-2></div>
      <span lt-sm:hidden>Code</span>
    </a>
    <a
      href="/sitemap-index.xml"
      aria-label="Sitemap"
      target="_blank"
      rel="noopener noreferrer"
      nav-item
    >
      <div i-bx:map-alt></div>
      <span lt-sm:hidden>Sitemap</span>
    </a>
  </span>
</footer>
